$a: 20px;
$bg: #333;
$odd: #aaa;
$even: #eee;
$row-height: 3*$a;
$avatar: $row-height * .7;

body {
	color: white;
	background-color: $bg; 
}

img {
	max-width: $row-height;
	height: 80%;
	border-radius: 50%;
}

.table {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	min-height: $a;
	width: 80%;
	margin: 3 * $a auto;
	right: 0; left: 0;
	position: absolute;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.row {
	@extend .flex-row;
	height: $row-height;
	color: black;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.field {
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	padding: 0 $a * .5;
	line-height: $row-height;
	border: 1px solid rgba(0,0,0,.1);
	width: 100%;
	min-height: 50%;
}

.row:nth-of-type(odd) {
	background-color: $odd;
}

.row:nth-of-type(even) {
	background-color: $even;
}

.rank {
	width: 20%;
}

.user {
	padding: 0;
	min-width: $row-height * 3;
	
	.username {
		width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		text-align: left;
		// background-color: yellow;
	}

	.avatar {
		width: 90%;
		min-width: $avatar;
		top: 0; bottom:0;
		margin: auto 0;
		// background-color: purple;
	}
	
}

.section-title {
	font-size: 120%;
	padding-top: $a;
	padding-bottom: $a;
	text-align: center;
	line-height: $a;
}